[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sismic = "*"
docker = "*"
watchdog = "*"
pyyaml = ">=4.2b1"

[dev-packages]
ipython = "*"
pudb = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
